{% extends "index.html" %}

{% load static %}

{% block title %}Welcome{% endblock title %}

{% block css %}<link rel = "stylesheet" href = "{% static "blogsite/home.css" %}" />{% endblock css %}
{% block content %}
<h1>Welcome to the Blog Corner</h1>
<h2 class="subtitle">Read the Best Blogs in the Game</h2>
<p>Recent Blogs: </p>
<img src = "{% static "blogsite/images/coding.jpg" %}" />
<ul>
    {% for blog in blogs%}
        <li><a href="{% url "each-post" blog.slug %}">{{blog.title|title}}</a></li>
    {% endfor %}
</ul>
<h2>Read all of our blogs over <a href="{% url "posts-page" %}">here.</a></h2>
{% endblock content %}