@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=BBH+Bartle&family=BBH+Hegarty&family=League+Gothic&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html{
    margin: 1rem;
}